extends layout

block content

    form(action="/login" method="post")
        h1 Please log in
        .form-group
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
        .form-group
            label(for="password") Password
            input.form-control(type="password" id="password" name="password" required)
            hr
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Log In


    form(action="/register" method="get")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
    hr


    form(action="/login/facebook" method="get")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Login via Facebook
        p
    form(action="/login/google" method="get")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Login via Google
        p
    form(action="/login/vk" method="get")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Login via VK
        p
