extends layout

block content
    head
        title PWNZchat


    form(action="/register" method="post")
        h1 Please register

        .form-group
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
        .form-group
            label(for="nickname") Nickname
            input.form-control(type="text" id="nickname" name="nickname" placeholder="MrVladimort" required)
        .form-group
            label(for="password") Password
            input.form-control(type="password" id="password" name="password" required)

        button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
